
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.glow{
	transition: all 0.3s ease-in-out;
}
.glow:hover{
box-shadow: 0 0 25px rgb(94 234 212) ;
}
/* .img_glow{
	box-shadow: 0 0 40px rgb(94 234 212) ;
} */
.neno-button{
	transition: all 0.3s ease-in-out;
}
/* *** Global Style goes Here *** */
/* body {
	font-family: 'Poppins', sans-serif;
} */
